/**
* Paletas de cores
*/
$bg-white: #fff;
$bg-black: #000;

/**
* Importações
*/
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

/**
* Fontes
*/

/**
* Z-index Position
*/
$first : 2000;
$two: 1000;
$three: 500;
$last: 100;
$belowall: -1;

/**
* Functions
*/
@function get-vw($target, $vw-viewport:320) {
    $vw-context: ($vw-viewport * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

@function pxtopercent($target, $parent: 16) {
    @return percentage($target / $parent);
}

@function pxtorem($size, $base: 16) {
    @return ($size/$base) * 1rem;
}

/**
*   Mixins
*/
@mixin fontsize($size, $base: 16) {
    font-size: $size + px;
    font-size: ($size/$base) * 1rem;
}

@mixin transition($propiedade, $tempo, $curva, $delay) {
    -webkit-transition: $propiedade $tempo $curva $delay;
    -moz-transition: $propiedade $tempo $curva $delay;
    -o-transition: $propiedade $tempo $curva $delay;
    transition: $propiedade $tempo $curva $delay;
}

@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    #{$property}: $value;
}
@include media-breakpoint-up(xs){
    
}
@include media-breakpoint-up(sm){
    
}
@include media-breakpoint-up(md){

}
@include media-breakpoint-up(lg){

}
@include media-breakpoint-up(xl){

}